.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height);
  // box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.header-inner {
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 6px 0 15px;
  width: 42px;
  height: 42px;
}

.logo a {
  width: 42px;
  display: block;
  height: 42px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.actions {
  margin-left: auto;
}

.user-info {
  display: flex;
  gap: 5px;
  align-items: center;
}
