.navbar {
  display: flex;
  gap: 2px;

  & li {
    list-style: none;
  }

  & li a {
    text-decoration: none;
    color: black;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  & li a:hover {
    background-color: var(--nav-item-hover-background);
    color: hsla(217, 95%, 46%, 1);

    .icon {
      color: hsla(217, 95%, 46%, 1);
      transition: color 0.3s ease;
    }
  }

  & .active {
    background-color: var(--nav-item-hover-background);
    color: hsla(217, 95%, 46%, 1);

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      width: calc(100% - 10px * 2);
      height: 4px;
      background: hsl(217.13deg 94.89% 46.08%);
      padding-bottom: 3px;
      border-radius: 20px;
      margin: 0 auto;
      transition: all 0.3s ease;
    }

    .icon {
      color: hsla(217, 95%, 46%, 1);
      transition: color 0.3s ease;
    }
  }
}

.title {
  margin-left: 3px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
